include /variables

//- ------------------------------------
//- include local variables
//-
append variables
  -
    const URL = `${protocol}://${domain}${filename.replace(/(\.\/)?src\/docroot/, '').replace(/(\.pug)$/, '.html')}`

//- ------------------------------------
//- HTML CONTENTS
//-
doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /head/index

  //- ------------------------------------
  //- begin body
  //-
  body
    div
    .main
      //- include global header
      include /global-header/index
      .content
        //- put content
        block content
      //- include global footer
      include /global-footer/index

    //-================ SCRIPT ================-//
    block scripts
