//- ------------------------------------
//- extend
//-
extends /layouts/default

//- ------------------------------------
//- variables this page
//-
append variables
  -
    const TITLE       = 'voice chat'
    const DESCRIPTION = 'voice chat'

//- ------------------------------------
//- style this page
//-
block style
  //- example
  //- link(rel="stylesheet", href="css/style.css")

//- ------------------------------------
//- script this page
//-
block scripts
  //- example
  script(src='js/index.js' defer)


//- ------------------------------------
//- content this page
//-
block content
  #app
