block variables
  -
    const protocol = 'http'
    const domain = 'www.example.com'
    const URL = `${protocol}://${domain}/${locals.filePath.replace(/(\.pug)$/, '.html')}`
    const pathName = locals.filePath.replace(/(\.pug)$/, '.html')
