block variables
  -
    const protocol = 'https'
    const domain = 'noliaki.github.io'
    const URL = `${protocol}://${domain}/${locals.filePath.replace(/(\.pug)$/, '.html')}`
    const pathName = locals.filePath.replace(/(\.pug)$/, '.html')
