.section_share--btns
  .section_share--btns--item
    a.section_share--btns--item.js-sns-item(href=`https://twitter.com/share?url=''&text=${shareText}`, target="_blank", data-sns-media='twitter')
      | twitter
  .section_share--btns--item
    a.section_share--btns--item.js-sns-item(href=`http://www.facebook.com/share.php?u=${encodeURIComponent(URL)}`, target="_blank", data-sns-media='facebook')
      | facebook
  .section_share--btns--item
    a.section_share--btns--item.js-sns-item(href=`http://line.me/R/msg/text/?${shareText}`, target="_blank", data-sns-media='LINE')
      | LINE
