meta(property='fb:app_id'      content = 111)
meta(property='og:url'         content = 111)
meta(property='og:type'        content = 'website')
meta(property='og:title'       content = TITLE)
meta(property='og:image'       content = '')
meta(property='og:description' content = DESCRIPTION)
meta(property='og:site_name'   content = 111)
meta(property='og:locale'      content = 'ja_JP')
meta(property='article:author' content = '')
//- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup
//- Open Graph: http://ogp.me/
