//- ------------------------------------
//- include local variables
//-
block variables

//- ------------------------------------
//- HTML CONTENTS
//-
doctype html
html(lang="ja")

  //- ------------------------------------
  //- include head element
  //-
  include /partials/head

  //- ------------------------------------
  //- begin body
  //-
  body
    div
    .main
      //- include global header
      include /partials/header
      .content
        //- put content
        block content
      //- include global footer
      include /partials/footer

    //-================ SCRIPT ================-//
    block scripts
